.light-blue,
.blue,
.light-green,
.green,
.light-brown,
.brown
{
  stroke-width: 0.03em;
}

.light-blue
{
  fill: hsl(211, 34%, 76%);
  stroke: hsl(211, 34%, 76%);
}

.blue
{
  fill: hsl(208, 46%, 66%);
  stroke: hsl(208, 46%, 66%);
}

.light-green
{
  fill: hsl(91, 37%, 54%);
  stroke: hsl(91, 37%, 54%);
}

.green
{
  fill: hsl(132, 29%, 36%);
  stroke: hsl(132, 29%, 36%);
}

.light-brown
{
  fill: hsl(49, 48%, 54%);
  stroke: hsl(49, 48%, 54%);
}

.brown
{
  fill: hsl(40, 75%, 33%);
  stroke: hsl(40, 75%, 33%);
}

.current
{
  fill: var(--base-color);
}

.shadow
{
  stroke: hsl(0, 0%, 25%);
  stroke-width: 0.3em;
}
