:root
{
  --base-color: hsl(0, 0%, 95%);
}

body
{
  margin: 2em 4em;
  background: var(--base-color);
  font-family: serif;
  font-size: 16px;
}

h1
{
  margin: 0;
  font-size: 4em;
  font-variant: small-caps;
  user-select: none;
}

p
{
  margin: 0.7em 0;
  font-size: 1.2em;
  font-style: italic;
}

div
{
  margin: 1em 0;
}

ul
{
  display: inline-flex;
  list-style-type: none;
  margin: 0 2em;
  padding: 0;
}

ul > p
{
  user-select: none;
}

li
{
  width: 2.5em;
  height: 2.5em;
  margin: 0.3em 0.3em;
}

.menu li
{
  margin: 0.3em 0 0 0.7em;
}

.viewport
{
  box-shadow:
    0 1px 3px hsla(0, 0%, 0%, 0.12),
    0 1px 2px hsla(0, 0%, 0%, 0.24);
  background: hsl(0, 0%, 100%);
}

.menu button
{
  background: transparent;
  border: none;
  border-bottom: 1px solid #000;
  cursor: pointer;
  font-family: serif;
  font-size: 1.2em;
  font-style: italic;
  margin: 0.5em 0;
  padding: 0;
  user-select: none;
}

.menu button:focus
{
  outline: none;
}

.menu button:hover
{
  border-bottom: none;
}
